
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/fundo.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: 'Arial', sans-serif;
}

form {
    background-color: transparent;
    padding: 40px;
    border-radius: 8px;
    color: #ffff;
    width: 100%;
    max-width: 600px; 
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffffffea;
}


input[type="submit"] {
    display: flex;
    width: 90%;
    background-color: #AFB42B;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 30px;
   
  
}

input[type="submit"]:hover {
    background-color: #b28ec5;
    color:#772a9b;
}


@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 24px;
    }

    form {
        padding: 20px;
    }
}

#voltar {
    position: absolute;
    top: 10px;  
    left: 10px; 
    z-index: 10; 
}