html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu-container {
    width: 100%;
    flex: 1;
}

.menu-container h2 {
    text-align: center;
    margin-top: 400px;
    color: #ffffff;
    font-size: 40px;
}

.menu-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu li {
    display: inline;
    padding: 16px;
    text-align: end;
    list-style-type: none;
    color: #ffffff;
    font-size: 20px;
}

.menu a {
    text-decoration: none;
}

.menu li:hover {
    background-color: rgb(255, 255, 255);
    color: #634984;
    border-radius: 5px;
    transition: 0.3s;
}


.mensagem {
    opacity: 0;
    visibility: visible; 
    animation: fadeIn 2s ease-in-out forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
