@font-face {
    font-family: 'DejaVu Sans Light';
    src: url('caminho/para/dejavu-sans-light.woff2') format('woff2'),
         url('caminho/para/dejavu-sans-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    /* --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif; */
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: 'DejaVu Sans Light', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

li {
    color: rgb(179, 134, 134);
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

.link-menu:hover {
    color: #ffffff;
    transition: 0.2s;
}

.link-menu {
    text-decoration: none;
    color: #22D4FD;
    font-weight: bold;
    font-family: 'DejaVu Sans Light', sans-serif; 
}

.meu-nome {
    position: absolute;
    top: 50%;
    left: 7%;
}

.container {
    width: 400px; /* largura da imagem */
    height: 670px; /* altura da imagem */
    position: relative; /* para que a sombra esteja dentro do contêiner */
}

.container img {
    width: 100%; /* para ajustar a largura da imagem ao contêiner */
    height: 100%; /* para ajustar a altura da imagem ao contêiner */
    display: block; /* para remover o espaço extra abaixo da imagem */
}

.container::before {
    content: ""; /* necessário para que o pseudo-elemento seja exibido */
    position: absolute; /* posicionamento absoluto em relação ao contêiner */
    top: -50px;
    left: 40px;
    width: 110%;
    height: 105%;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #22d5fdba; /* cor e tamanho da sombra */
    z-index: -50; /* para colocar a sombra atrás da imagem */
}

.fotodaLu {
    border: 3px solid #ffffff;
    background-color: black;
    padding: 15px;
    border-radius: 5px;

} 


.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.apresentacao__conteudo__titulo{
    font-size: 50px;
    font-family:Georgia;
    text-align: center;
}
.titulo-destaque{
    color: var(--cor-terciaria);
}

.titulo-destaque::after {
    content: "🚀";
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    text-align: justify;
}

.apresentacao__links{  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);   
    font-size: 40px;
    text-align: center;

}
.ícones {
    display: flex;
    margin-left: 50px;
}

.apresentacao__links__link{   
    width: 378px;
    font-size: 1.5rem;
    font-weight: 600;  
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover{
    color: #22D4FD;
    transition: 0.2s;
}

.conteudo 
{
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 100px;
    
}

.conteudo h2 {  
    color: #22D4FD;
    font-size: 80px;
    font-family:Georgia;
    text-align: center;
    
    
}

.card {
    background-color: #000000;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
    
    
    
}

.logo {
    height: 200px;
    
}

.novo-ícone {
    height: 180px;
    margin-top: 27px;

   
    
}
.Cursos {
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    
    
    
    
}

.conteudo-projetos {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.rodape{
    color: var(--cor-primaria);
    background-image: linear-gradient(to right, white,#9cdfee);
    padding: 10px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 800;
}